body{
	background-color: #aabfca;
}
.container{
	width: 100%;
	height: 600px;
	background-image: url(img/bghed.jpg);
	}
	body{
		margin: 0;
	padding: 0;
	}
	.header{
		width: 100%
		height:600px
	}
	.logo img {
		float: left;
		margin-top: 50px;
		margin-left: 250px;

	}
	.phone{ 
		float: right;
		margin-top: 50px;
		margin-right: 250px;
	}
	.slide{
		float: left;
	}
	.slide img{
		border: 5px solid white;
		margin-top: 50px;
		margin-left: 250px;

		float: left;
		width: 500px;
		height: 300px;
		
	}
.text p{
margin-top: 50px;
		margin-left: 785px;
		padding-right: 300px;
}
.text h1{
	margin-left: 785px;
}
.text ul li{
	margin-left: 785px;
}
.text form {
	margin-left: 785px;
	
}
.text form button{
	width: 100px;
	height: 30px;
	font-size: 15px;
	color: #688d9f;
	border: 1px solid #688d9f;
	border-radius: 2px;
background-image: url(img/butt.png);
	
}


}
 слайдер

/* Задаем сброс обтекания */
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}		
/* Slider */
.slider {

	/* Ширина контейнера */
	width: 900px;
	/* Внешние тступы сверху и снизу */
	margin: 0px auto;
	/* Внутренние отступы для ссылок navy */
	padding: 50;
	/* Позиционирование */
	position: relative;
}
/* Двойной клик по кнопкам вперед/назад вызывает выделение всех элементов слайдера,
поэтому предотвращаем это */
.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }

.slide-list {
	position: relative;
	margin: 0;
	padding: 0;
	/* Скроем то что выходит за границы */
	overflow: hidden;
}
.slide-wrap {
	position: relative;
	left: 0px;
	top: 0;
	/* максимально возможная ширина обертки слайдера */
	width: 10000000px;
}
.slide-item {
	/* Ширина слайда */
	width: 280px;
	/* Внутренние отступы */
	padding: 0px;
	border: 4px solid white;
	/* Обтекание */
	float: left;
}
.slide-title {
	/* Шрифт */
	font: bold 16px monospace;
	/* Указываем, что элемент блочный */
	display: block;
}
/* навигация вперед/назад */
.navy {
	/* абсолютное позиционирование */
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	/* ширина элементов */
	width: 100px;
	cursor: pointer;
}
.prev-slide {
	margin-left: -100px;
	background: url(img/left.png) 11px 40% no-repeat;
}
.next-slide {
	right: 0;
	background:  url(img/right.png) 13px 40% no-repeat;
}
.navy.disable {
	background: #dbdbdb;
}

.prev-slide {
left: -1050;
}
.content {
	margin-top: 0px;
width: 100%;
	background-color: #d7e7ef;
	padding-top: 50px;
}
.topContent p{
	text-align: center;
width: 900px;
height:100px;
color: #9bb6c5;
font-family: arial;
margin-left: 250px;

}
.textcontent{

	width: 900px;
	margin-left: 250px;
}
.textcontent ul li{
	width: 230px;
text-align: left;
float: left;
padding: 25px;
text-decoration: none;
list-style: none;
}
.textcontent  p{
	
}
.textcontent ul li img{
	float: left;
	margin-top: 10px;
	margin-right:5px;
}
.about{
	
	float: right;
	width: 1100px;
	
}
.about ul li{
	background-color: #c9dce6;

	list-style: none;
	width: 230px;
	float: left;
	padding: 25px;
	text-align: left;
}
.about form {
	border: 2px solid #a9bfd2;

	}